* {
	padding: 0;
	margin: 0;
}

html, body {
	background: #EAEAEA;
	height: 100%;
	width: 802px;
}

.chat {
	height: 100%;
	width: 400px;
	float:left;
    border-right: 1px solid #D8D8D8;
}
.chat .messages {
	height: calc(100% - 151px);
	background: #fff;
	padding: 10px;
	overflow-x: hidden;
	overflow-y: scroll;
	border-bottom: 1px solid #D8D8D8;
}

.chat .message {
	background: #464E54;
	color: white;
	margin-bottom: 10px;
}

.chat .message div {
	float: left;
}

.chat .message .clear {
	clear: both;
}

.chat .message .sender {
	padding: 20px;
	width: calc(20% - 40px);
	border-right: 1px solid #D8D8D8;
	text-align: center;
}

.chat .message .time {
	width: calc(79% - 5px); 
	min-width: 60px;
	font-size: 12px;
	padding-left: 3px;
	border-bottom: 1px solid #D8D8D8;
} 
.chat .message .text {
	width: calc(79% - 5px); 
	min-width: 120px;
	padding-left: 3px;
}

.chat label {
    margin-left: 5px;
}
.chat .input {
	width: 100%;
	height: 130px;
}

.chat .input  input{
	width: calc(100% - 20px);
	margin: 5px 10px 0px;
}

.sidebar {
    background: transparent;
    border-right: 1px solid #D8D8D8;
    width: 400px;
    height: 100%;
    float: left;
}

.roomConsole, .testConsole {
	width: 100%;
	height: 50%;
}

.sidebar label, .sidebar input{
    width: 90%;
    margin: 2% 5%;
}